/* UNIVERSAL STYLE */

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

/* HEADER */

header {
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    margin: 0 30px;
}

header a {
    text-decoration: none;
    color: #f9faf8;
}

/* HERO */

.hero {
    background: #1f2937;
    color: #f9faf8;
}

.about {
    display: flex;
    width: 75%;
    margin: 0 auto 50px;
    padding: 50px 25px;
    justify-content: space-between;
    align-items: center;
}

.about-blurb,
.about-img {
    padding: 25px 50px;
}

.about-blurb h1 {
    font-size: 3em;
}

.about-blurb p {
    margin: 15px auto;
    color: #e5e7eb;
}

.about-blurb button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bolder;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
}

.about-img img {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}